body {
    display: inline-grid;
    place-items: center;
    width: 100%;
    font-family: 'Merriweather', serif;
    background-color: #006236;
}

.simon {
    position: relative;
    margin-top: 50px;
    padding: 10px;
    border-radius: 5px;
}

.buttonContainer {
    display: inline-grid;
    grid-gap: 10px;
    grid-template-columns: auto auto;
    transform: rotate(45deg);
}

.cuadrado {
    border-radius: 5px;
    width: 150px;
    height: 150px;
    cursor: pointer;
}

.cuadrado:active,
.active {
    filter: brightness(85%);
}

.rojo {
    background-color: #c22323;
    text-align: center;
}

.azul {
    background-color: rgba(58, 58, 255, 0.857);
    text-align: center;

}

.verde {
    background-color: rgb(64, 195, 8);
    text-align: center;
}

.amarillo {
    background-color: rgba(254, 239, 35, 0.953);
    text-align: center;
}

#startButton {
    width: 75px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    font-family: 'Merriweather', serif;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(18, 13, 13);
    background-color: #9bf6db;
    padding: 5px;
}

#startButton:disabled {
    background-color: rgb(43, 191, 171);
}

.title {
    width: min-content;
}

.winner {
    animation: spin 0.70s ease-in-out;
    text-align: left;
}

@keyframes spin { 
    100% { transform:rotate(360deg) } }